/*content columns*//*#region*/
body{
 width:100vw;   
}
.column {
    box-sizing: border-box;
    float:left; 
    position: relative;
    border-style:unset;
    border-radius: 10px;
    padding: 10px;
    margin-left: 1%; /* right edge currently in html, yes this is messy af but i dont want to bother with another grid container today */
    text-wrap: wrap;
}

.column.side {
    width: 43%;
    background-color:#c0c0c0;
}
.column.middle {
    width: 45%;
    background-color:#cccccc


}

@media (max-width: 1000px) {
    /* make content colums full width so they stack instead */
    .column.side, .column.middle {
        width: 100%;
    }
}
/*#endregion*/
