/* * { border: 1px solid red !important; }  */

body {
    font-family: Arial, sans-serif; 
    font-size: 20px;
    min-height: 100vh; /* always fill fiewport */

    /* position navbar, header, content, footer. */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    display:grid; 
    grid-template-rows: 
        [row-navbar-start] 65px 
        [row-header-start] min-content /* dont display if header is empty */
        [row-content-start-fill] 1fr /* flex will always let this fill the viewport */
        [row-footer-start] 164px; /* why is whitespace being added to the bottom of page in the dev environment? */
}


/* navbar */ /* #region */ 	

/* fix flickering from inserting navbar with javascript 
after page loads*/
.navbar-placeholder {
    grid-row-start:row-navbar-start;
    grid-row-end:row-header-start;
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height:65px;
    background-color: #091c38;
    box-shadow: 0px 3px 2px 1px rgb(16, 201, 214); 
    z-index: 999;
}

.navbar { /* needs to change size to fit menu dropdown, TODO: make navbar inset just menu and combine these */
    grid-row-start:row-navbar-start;
    grid-row-end:row-header-start;

    position: fixed; /* to viewport;always visible */
    top: 0;
    left: 0;
    width: 100%;
    min-height:65px; /* needs to accomodate mobile dropdown beacause borger*/
    background-color: #091c38;
    display: flex;
    justify-content: start;
    z-index: 1000; /*display order: always on top*/
}

/* Menu that will be put in navbar */
.menu {
    list-style-type: none; /* no list bullet points */
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
}

/*navbar list items*/
.menu li {
    padding: 10px 20px;
}

/*navbar links/text*/
.menu a {
    font-size: 20px;
    color: white;
    text-decoration: none; /* no link underlines */
}

/*menu links/text hover*/
.menu a:hover {
    color: #30fcfc;
    outline: rgb(16, 191, 214) solid 5px;
    outline-offset: 5px;
    border-radius: 2%;
}

/* Hamburger Icon for mobile*/
.hamburger {
    display: none; /* Hide the hamburger icon by default */
    cursor: pointer; /* change pointer when hovering */
    font-size: 43px; /* this looks centered */
    color: rgb(255, 255, 255);
    top: 0;
    left: 12px;
    position: fixed; /* DO NOT MESS WITH THE BORGER IT WILL BORK THE ENTIRE NAV BAR */
    z-index: 1001; /* Make sure the hamburger stays on top of other content */
}

@media (max-width: 600px) {

    /* Hide the menu by default on mobile and switch direction for dropdown*/
    .menu {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    /* Show the hamburger icon on small screens */
    .hamburger {
        display:block;
    }

    /* Show menu dropdown when the "show" class is added by script*/
    .menu.show {
        display: flex;
    }

    /* mobile menu list items settings*/
    .menu li {
        padding-left: 0px;
        width: 100%; /* Make menu items take full width */
        text-align: center; /* Center the text */
    }
}
/*#endregion*/

/* header */ /* #region */
.header {
    grid-row-start:row-header-start;
    grid-row-end:row-content-start-fill;
    background-color: #f1f1f1;
    text-align: center;
}

/* header */ /* #endregion */

/* footer */ /* #region */
.foot-placeholder {
    grid-row-start:row-footer-start;
    grid-row-end:row-page-end;
    background-color: #f1f1f1;
}

.footer {
    grid-row-start:row-footer-start;
    grid-row-end:row-page-end;
    background-color: #f1f1f1;

    display: flex;
    padding: 10px;
    gap:10px;
    align-items: start;
    justify-content: start;
}

.footer-image{
    height: 144px;
    width: 144px;
}

.footer-list{
    list-style: none;
    padding-right: 30px;
}

.footer-list h2{
    text-decoration: underline;
    padding:0;
    margin: 0;
}

.footer-list a{
    text-decoration: none;
}

.footer-list li{
    margin:5px;
}
@media (max-width: 600px) {
    .footer-image{
        display: none;
    }
    .footer{
        flex-direction: column;
        gap: 20px;

}
}

/* footer */ /* #endregion */

/* content styles *//* #region */
.content { /* box for everything else
     check for overflow if random whitespace shows up*/
    grid-row-start:row-content-start-fill;
    grid-row-end:row-footer-start;
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
    gap: 10px;
    background-image: url(../Assets/weonalake.png);
    background-size: cover;

}

.column {
    border-radius: 10px;
    background-color:#bebebec5;
    backdrop-filter: blur(5px);
    width: auto;
    padding: 10px;
    margin: 0;
    flex-grow:1; /* fill space */
    text-wrap-mode:wrap;
    width: min-content;

}

@media (max-width: 600px) {
    .content {
        flex-direction: column;
        flex-grow:0;
    }
    .column {
        width: auto;
    }
}

/*#endregion*/
