body {
    /* default css */
    font-family: Arial, sans-serif; 
    font-size: 20px;
    background-color: #b90000;
    min-height: 100vh; /* always fill fiewport */

    /* position navbar, header, content, footer. */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    display:grid; 
    grid-template-rows: 
        [nav-placeholder] 65px 
        [header-placeholder] min-content 
        [content-placeholder] 1fr /* flex will always let this fill the viewport */
        [footer] 150px; /* track list */
}

.header {
    background-color: #f1f1f1;
    text-align: center;
    padding:10px;
}

.footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
}

/*Navbar*//*#region*/ 	


/* fix flickering */
.nav-placeholder {
    min-height:65px;
    background-color: #091c38;
    box-shadow: 0px 3px 2px 1px rgb(16, 201, 214); 
    z-index: 999; /*display order: always on top*/
}

.navbar {
    position: fixed; /* to viewport */
    top: 0;
    left: 0;
    width: 100%;
    min-height:65px; /* needs to accomodate mobile dropdown beacause borger*/
    background-color: #091c38;
    display: flex;
    justify-content: start;
    z-index: 1000; /*display order: always on top*/
}

/* Menu that will be put in navbar */
.menu {
    list-style-type: none; /* no list bullet points */
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
}

/*navbar list items*/
.menu li {
    padding: 10px 20px;
}

/*navbar links/text*/
.menu a {
    font-size: 20px;
    color: white;
    text-decoration: none; /* no link underlines */
}

/*menu links/text hover*/
.menu a:hover {
    color: #30fcfc;
    outline: rgb(16, 191, 214) solid 5px;
    outline-offset: 5px;
    border-radius: 2%;
}

/* Hamburger Icon for mobile*/
.hamburger {
    display: none; /* Hide the hamburger icon by default */
    cursor: pointer; /* change pointer when hovering */
    font-size: 43px;
    color: rgb(255, 255, 255);
    top: 0;
    left: 12px;
    position: fixed; /* DO NOT MESS WITH THE BORGER IT WILL BORK THE ENTIRE NAV BAR */
    z-index: 1001; /* Make sure the hamburger stays on top of other content */
}

@media (max-width: 600px) {

    /* Hide the menu by default on mobile and switch direction for dropdown*/
    .menu {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    /* Show the hamburger icon on small screens */
    .hamburger {
        display:block;
    }

    /* Show menu dropdown when the "show" class is added by script*/
    .menu.show {
        display: flex;
    }

    /* mobile menu list items settings*/
    .menu li {
        padding-left: 0px;
        width: 100%; /* Make menu items take full width */
        text-align: center; /* Center the text */
    }
}
/*#endregion*/

/*content columns*//*#region*/
.column {
    float: right; 
    position: relative;
}

.column.side {
    width: 25%;
    background-color:#c0c0c0;
}
.column.middle {
    width: 75%;
    background-color:#cccccc
}

@media (max-width: 600px) {
    /* make content colums full width so they stack instead */
    .column.side, .column.middle {
        width: 100%;
    }
}
/*#endregion*/
